[Unit]
Description=VPN Portal Flask App
After=network.target

[Service]
Type=simple
User=manager
Group=wg-portal
WorkingDirectory=/app
EnvironmentFile=/app/env.conf
ExecStart=/app/.venv/bin/python3 /app/web-portal.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
